# Project Information

It is a very basic analytics project for beginners to understand how to explore data to get some insights using python

- Library used - Pandas

- Data - https://raw.githubusercontent.com/arora123/Data/master/emp-data.csv

- Data Description - Name, Gender, Department, Salary, Location & Ratings of 1015 employees [All column names are self explanatory]

- Objectives -
1. How many Males/Females are there in the entire organization?
2. How many Males/Females are there in the each department or for each location?
3. For which department is the average Pay highest?
4. For which location is the average Pay highest?
5. What percentage of employees received good & very good rating? What about poor & very poor rating? and average rating?
6. Compute gender pay gap for each department. Interpret
7. Compute gender pay gap for each location. Interpret

In [ ]:
import pandas as pd
url = "https://raw.githubusercontent.com/arora123/Data/master/emp-data.csv"
df = pd.read_csv(url)
print("Columns in the dataset:", df.columns.tolist())
required_columns = ['Department', 'Gender']
for col in required_columns:
    if col not in df.columns:
        raise ValueError(f"Missing column: {col}")
gender_by_department = df.groupby('Department')['Gender'].value_counts().unstack(fill_value=0)
print("\nNumber of Males and Females in each department:")
print(gender_by_department)
if 'Loc' in df.columns:
    gender_by_location = df.groupby('Loc')['Gender'].value_counts().unstack(fill_value=0)
    print("\nNumber of Males and Females in each location:")
    print(gender_by_location)
else:
    print("\n'Location' column is not available in the dataset.")

Columns in the dataset: ['Name', 'Gender', 'Department', 'Salary', 'Loc', 'Rating']

Number of Males and Females in each department:
Gender                    Female  Male
Department
Accounting                    30    40
Business Development          42    38
Engineering                   38    38
Human Resources               44    39
Legal                         36    51
Marketing                     33    35
Product Management            42    49
Research and Development      39    34
Sales                         38    41
Services                      42    38
Support                       37    43
Training                      38    40

Number of Males and Females in each location:
Gender       Female  Male
Loc
Bellevue        127   135
Los Angeles     176   194
Wellington      168   172

In [ ]:
import pandas as pd
url = "https://raw.githubusercontent.com/arora123/Data/master/emp-data.csv"
df = pd.read_csv(url)
print("Columns in the dataset:", df.columns.tolist())
print("\nFirst few rows of the dataset:")
print(df.head())
required_columns = ['Department', 'Gender', 'Salary']
missing_columns = [col for col in required_columns if col not in df.columns]
if missing_columns:
    raise ValueError(f"Missing columns: {missing_columns}")
if not pd.api.types.is_numeric_dtype(df['Salary']):
    try:
        df['Salary'] = pd.to_numeric(df['Salary'].str.replace(',', '').str.extract('(\d+\.?\d*)')[0], errors='coerce')
    except Exception as e:
        raise ValueError("The 'Salary' column must contain numeric data. Conversion failed.") from e
df = df.dropna(subset=['Salary'])
avg_pay_by_dept = df.groupby('Department')['Salary'].mean().sort_values(ascending=False)
highest_avg_pay_dept = avg_pay_by_dept.idxmax()
print("\nAverage Pay by Department:")
print(avg_pay_by_dept)
print(f"\nDepartment with the highest average pay: {highest_avg_pay_dept}")

Columns in the dataset: ['Name', 'Gender', 'Department', 'Salary', 'Loc', 'Rating']

First few rows of the dataset:
               Name  Gender   Department     Salary          Loc     Rating
0      Ches Bonnell    Male        Sales   $88,050      Bellevue  Very Good
1  Garwin Peasegood  Female  Engineering   $68,220      Bellevue       Good
2   Sidoney Yitzhok  Female          NaN  $118,440    Wellington  Not Rated
3  Saunders Blumson     NaN        Legal   $56,370   Los Angeles  Very Good
4    Gardy Grigorey  Female      Support  $107,090   Los Angeles       Poor

Average Pay by Department:
Department
Business Development        77089.135802
Marketing                   76774.923077
Accounting                  76358.507463
Training                    76036.623377
Services                    75734.756098
Support                     75029.135802
Product Management          73201.348315
Sales                       72159.125000
Engineering                 72139.875000
Legal                       71477.272727
Human Resources             70936.951220
Research and Development    68445.405405
Name: Salary, dtype: float64

Department with the highest average pay: Business Development

In [ ]:
import pandas as pd
url = "https://raw.githubusercontent.com/arora123/Data/master/emp-data.csv"
df = pd.read_csv(url)
df['Salary'] = df['Salary'].replace(r'[\$,]', '', regex=True).astype(float)
df = df.dropna(subset=['Salary', 'Department', 'Loc'])
avg_salary_dept = df.groupby('Department')['Salary'].mean()
print("\nAverage Salary by Department:")
print(avg_salary_dept)
if not avg_salary_dept.empty:
    highest_avg_salary_dept = avg_salary_dept.idxmax()
    highest_avg_salary_value_dept = avg_salary_dept.max()
    print(f"\nThe department with the highest average pay is: {highest_avg_salary_dept}")
    print(f"Average pay in this department: {highest_avg_salary_value_dept:.2f}")
else:
    print("No valid salary data available for departments.")
avg_salary_loc = df.groupby('Loc')['Salary'].mean()
print("\nAverage Salary by Location:")
print(avg_salary_loc)
if not avg_salary_loc.empty:
    highest_avg_salary_loc = avg_salary_loc.idxmax()
    highest_avg_salary_value_loc = avg_salary_loc.max()
    print(f"\nThe location with the highest average pay is: {highest_avg_salary_loc}")
    print(f"Average pay in this location: {highest_avg_salary_value_loc:.2f}")
else:
    print("No valid salary data available for locations.")

Average Salary by Department:
Department
Accounting                  76358.507463
Business Development        77089.135802
Engineering                 72139.875000
Human Resources             70936.951220
Legal                       71477.272727
Marketing                   76774.923077
Product Management          73201.348315
Research and Development    68445.405405
Sales                       72159.125000
Services                    75734.756098
Support                     75029.135802
Training                    76036.623377
Name: Salary, dtype: float64

The department with the highest average pay is: Business Development
Average pay in this department: 77089.14

Average Salary by Location:
Loc
Bellevue       75818.280000
Los Angeles    73830.526316
Wellington     71988.895522
Name: Salary, dtype: float64

The location with the highest average pay is: Bellevue
Average pay in this location: 75818.28

In [ ]:
url = "https://raw.githubusercontent.com/arora123/Data/master/emp-data.csv"
df = pd.read_csv(url)
print("Columns in the dataset:", df.columns.tolist())
print("\nFirst few rows of the dataset:")
print(df.head())
if 'Rating' not in df.columns:
    raise ValueError("The 'Rating' column is missing from the dataset. Please check the column names.")
df.columns = df.columns.str.strip()
print("\nUnique values in 'Rating' column:")
print(df['Rating'].unique())
rating_categories = {
    'Good': ['Good', 'Very Good'],
    'Poor': ['Poor', 'Very Poor'],
    'Average': ['Average']
}
rating_counts = df['Rating'].value_counts(normalize=True) * 100
good_ratings_percentage = rating_counts[rating_counts.index.isin(rating_categories['Good'])].sum()
poor_ratings_percentage = rating_counts[rating_counts.index.isin(rating_categories['Poor'])].sum()
average_ratings_percentage = rating_counts[rating_counts.index.isin(rating_categories['Average'])].sum()
print("\nPercentage of Employees by Ratings:")
print(f"Good & Very Good Ratings (%): {good_ratings_percentage:.2f}%")
print(f"Poor & Very Poor Ratings (%): {poor_ratings_percentage:.2f}%")
print(f"Average Ratings (%): {average_ratings_percentage:.2f}%")

Columns in the dataset: ['Name', 'Gender', 'Department', 'Salary', 'Loc', 'Rating']

First few rows of the dataset:
               Name  Gender   Department     Salary          Loc     Rating
0      Ches Bonnell    Male        Sales   $88,050      Bellevue  Very Good
1  Garwin Peasegood  Female  Engineering   $68,220      Bellevue       Good
2   Sidoney Yitzhok  Female          NaN  $118,440    Wellington  Not Rated
3  Saunders Blumson     NaN        Legal   $56,370   Los Angeles  Very Good
4    Gardy Grigorey  Female      Support  $107,090   Los Angeles       Poor

Unique values in 'Rating' column:
['Very Good' 'Good' 'Not Rated' 'Poor' 'Average' 'Very Poor']

Percentage of Employees by Ratings:
Good & Very Good Ratings (%): 27.98%
Poor & Very Poor Ratings (%): 18.82%
Average Ratings (%): 45.42%

In [ ]:

url = "https://raw.githubusercontent.com/arora123/Data/master/emp-data.csv"
df = pd.read_csv(url)
print("Columns in the dataset:", df.columns.tolist())
print("\nFirst few rows of the dataset:")
print(df.head())
required_columns = ['Department', 'Gender', 'Salary']
missing_columns = [col for col in required_columns if col not in df.columns]
if missing_columns:
    raise ValueError(f"Missing columns: {missing_columns}")
location_exists = 'Location' in df.columns
df.columns = df.columns.str.strip()
if not pd.api.types.is_numeric_dtype(df['Salary']):
    df['Salary'] = pd.to_numeric(df['Salary'].str.replace(',', '').str.extract('(\d+\.?\d*)')[0], errors='coerce')
df = df.dropna(subset=['Salary'])
gender_pay_gap_dept = df.groupby(['Department', 'Gender'])['Salary'].mean().unstack()
gender_pay_gap_dept['Pay Gap'] =gender_pay_gap_dept['Male'] - gender_pay_gap_dept['Female']
print("\nGender Pay Gap by Department:")
print(gender_pay_gap_dept)
if location_exists:
    gender_pay_gap_location = df.groupby(['Location', 'Gender'])['Salary'].mean().unstack()
    gender_pay_gap_location['Pay Gap'] = gender_pay_gap_location['Male'] - gender_pay_gap_location['Female']
    print("\nGender Pay Gap by Location:")
    print(gender_pay_gap_location)
else:
    print("\n'Location' column is missing. Skipping gender pay gap computation by location.")

Columns in the dataset: ['Name', 'Gender', 'Department', 'Salary', 'Loc', 'Rating']

First few rows of the dataset:
               Name  Gender   Department     Salary          Loc     Rating
0      Ches Bonnell    Male        Sales   $88,050      Bellevue  Very Good
1  Garwin Peasegood  Female  Engineering   $68,220      Bellevue       Good
2   Sidoney Yitzhok  Female          NaN  $118,440    Wellington  Not Rated
3  Saunders Blumson     NaN        Legal   $56,370   Los Angeles  Very Good
4    Gardy Grigorey  Female      Support  $107,090   Los Angeles       Poor

Gender Pay Gap by Department:
Gender                          Female          Male      Pay Gap
Department
Accounting                72938.928571  77530.000000  4591.071429
Business Development      74627.804878  82016.486486  7388.681608
Engineering               75422.105263  67916.944444 -7505.160819
Human Resources           66578.780488  73796.052632  7217.272144
Legal                     68506.764706  72997.959184  4491.194478
Marketing                 79107.741935  73701.818182 -5405.923754
Product Management        70773.170732  76100.851064  5327.680332
Research and Development  66603.947368  69062.580645  2458.633277
Sales                     70406.666667  72039.750000  1633.083333
Services                  73075.476190  79456.216216  6380.740026
Support                   72030.000000  77414.523810  5384.523810
Training                  77082.222222  74342.894737 -2739.327485

'Location' column is missing. Skipping gender pay gap computation by location.

In [ ]:
url = "https://raw.githubusercontent.com/arora123/Data/master/emp-data.csv"
df = pd.read_csv(url)
print("Columns in the dataset:", df.columns.tolist())
print("\nFirst few rows of the dataset:")
print(df.head())
required_columns = ['Loc', 'Gender', 'Salary']
missing_columns = [col for col in required_columns if col not in df.columns]
if missing_columns:
    raise ValueError(f"Missing columns: {missing_columns}")
df.columns = df.columns.str.strip()
if not pd.api.types.is_numeric_dtype(df['Salary']):
    df['Salary'] = pd.to_numeric(df['Salary'].str.replace(',', '').str.extract('(\d+\.?\d*)')[0], errors='coerce')
df = df.dropna(subset=['Salary'])
avg_salary_location_gender = df.groupby(['Loc', 'Gender'])['Salary'].mean().unstack()
avg_salary_location_gender['Pay Gap'] = avg_salary_location_gender.get('Male', 0) - avg_salary_location_gender.get('Female', 0)
print("\nAverage Salary and Gender Pay Gap by Location:")
print(avg_salary_location_gender)
for location, row in avg_salary_location_gender.iterrows():
    male_salary = row.get('Male', 0)
    female_salary = row.get('Female', 0)
    pay_gap = row.get('Pay Gap', 0)
    if pay_gap > 0:
        print(f"In {location}, males earn on average ${male_salary:.2f}, while females earn ${female_salary:.2f}.")
        print(f"The gender pay gap is ${pay_gap:.2f}, with males earning more on average.")
    elif pay_gap < 0:
        print(f"In {location}, females earn on average ${female_salary:.2f}, while males earn ${male_salary:.2f}.")
        print(f"The gender pay gap is ${-pay_gap:.2f}, with females earning more on average.")
    else:
        print(f"In {location}, males and females earn the same on average.")

Columns in the dataset: ['Name', 'Gender', 'Department', 'Salary', 'Loc', 'Rating']

First few rows of the dataset:
               Name  Gender   Department     Salary          Loc     Rating
0      Ches Bonnell    Male        Sales   $88,050      Bellevue  Very Good
1  Garwin Peasegood  Female  Engineering   $68,220      Bellevue       Good
2   Sidoney Yitzhok  Female          NaN  $118,440    Wellington  Not Rated
3  Saunders Blumson     NaN        Legal   $56,370   Los Angeles  Very Good
4    Gardy Grigorey  Female      Support  $107,090   Los Angeles       Poor

Average Salary and Gender Pay Gap by Location:
Gender             Female          Male      Pay Gap
Loc
Bellevue     73639.083333  76638.153846  2999.070513
Los Angeles  72104.502924  75262.486486  3157.983563
Wellington   70992.298137  73767.256098  2774.957961
In Bellevue, males earn on average $76638.15, while females earn $73639.08.
The gender pay gap is $2999.07, with males earning more on average.
In Los Angeles, males earn on average $75262.49, while females earn $72104.50.
The gender pay gap is $3157.98, with males earning more on average.
In Wellington, males earn on average $73767.26, while females earn $70992.30.
The gender pay gap is $2774.96, with males earning more on average.

In [ ]:
import pandas as pd
url = "https://raw.githubusercontent.com/arora123/Data/master/emp-data.csv"
df = pd.read_csv(url)
df['Salary'] = df['Salary'].replace(r'[\$,]', '', regex=True).astype(float)
df = df.dropna(subset=['Salary', 'Department', 'Loc', 'Gender'])
gender_pay_gap_dept = df.groupby(['Department', 'Gender'])['Salary'].mean().unstack()
if 'Male' in gender_pay_gap_dept.columns and 'Female' in gender_pay_gap_dept.columns:
    gender_pay_gap_dept['Pay_Gap'] = (gender_pay_gap_dept['Male'] - gender_pay_gap_dept['Female']) / gender_pay_gap_dept['Male'] * 100
else:
    gender_pay_gap_dept['Pay_Gap'] = None
    print("One or both genders are missing in some departments.")
print("\nGender pay gap by department:")
print(gender_pay_gap_dept)
gender_pay_gap_loc = df.groupby(['Loc', 'Gender'])['Salary'].mean().unstack()
if 'Male' in gender_pay_gap_loc.columns and 'Female' in gender_pay_gap_loc.columns:
    gender_pay_gap_loc['Pay_Gap'] = (gender_pay_gap_loc['Male'] - gender_pay_gap_loc['Female']) / gender_pay_gap_loc['Male'] * 100
else:
    gender_pay_gap_loc['Pay_Gap'] = None
    print("One or both genders are missing in some locations.")
print("\nGender pay gap by location:")
print(gender_pay_gap_loc)

Gender pay gap by department:
Gender                          Female          Male    Pay_Gap
Department
Accounting                72938.928571  77530.000000   5.921671
Business Development      74627.804878  82016.486486   9.008776
Engineering               75422.105263  67916.944444 -11.050498
Human Resources           66578.780488  73796.052632   9.780025
Legal                     68506.764706  72997.959184   6.152493
Marketing                 79107.741935  73701.818182  -7.334858
Product Management        70773.170732  76100.851064   7.000816
Research and Development  66603.947368  69062.580645   3.560008
Sales                     70406.666667  72039.750000   2.266920
Services                  73075.476190  79456.216216   8.030511
Support                   72030.000000  77414.523810   6.955444
Training                  77082.222222  74342.894737  -3.684720

Gender pay gap by location:
Gender             Female          Male   Pay_Gap
Loc
Bellevue     74163.474576  76680.645161  3.282667
Los Angeles  72297.757576  74849.945055  3.409739
Wellington   70452.025316  73245.534591  3.813897